// Navigation code here
.nav-bar{
    display: flex;
    .aligncenter();
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    font-size: 12pt;
    font-weight: 600;
        h1{
            font-size: 30pt;
            margin-bottom: 3rem;
        }
        nav{
        margin-bottom: 1rem;
            a{
                text-decoration: none;
                color: black;
                margin-right: 2rem;
            }
}
}